/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */

/* Border Box */
* {
  box-sizing: border-box;
}

/* Fonts */
body {
  font-family: 'Poiret One', cursive;
  background-color: #e7e0d6;
}

#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  background-color: #fa636c;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}
#timeline h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
#timeline h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline p.login {
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.card-default {
  width: 60%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 1rem;
}

.small {
  text-align: left;
}

table, th, td {
  border:1px solid grey;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #fa636c;
  font-weight: bold;
  color: white;
}

li {
  margin-bottom: 0.5rem;
}

.climbingVid {
  display: block;
  width: 100%;
}

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    margin: 0 auto;
  }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 500px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
  text-align: left;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    min-height: 60px;
  }
}
#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
}
#timeline .demo-card--step1 {
  background-color: #fa636c;
}
#timeline .demo-card--step1 .head::after {
  border-color: #fa636c;
}
#timeline .demo-card--step2 {
  background-color: #ff9492;
}
#timeline .demo-card--step2 .head::after {
  border-color: #ff9492;
}
#timeline .demo-card--step3 {
  background-color: #8ea763;
}
#timeline .demo-card--step3 .head::after {
  border-color: #8ea763;
}
#timeline .demo-card--step4 {
  background-color: #bdd59b;
}
#timeline .demo-card--step4 .head::after {
  border-color: #bdd59b;
}
#timeline .demo-card--step5 {
  background-color: #65805f;
}
#timeline .demo-card--step5 .head::after {
  border-color: #65805f;
}
